@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #f0ffff;
    --primary-light: #01cda9;
    --dark-brown: #341413;
    --gray-1: #798092;
    --gray-2: #e6e6ed;
    --white: #ffffff;
    --grey: #0b0d0f;
    --back-abu: #f0f0f0;
    --hijau-utama: #2e8b57;

    /* font-size */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 15px;

    /* font weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    /* padding-top: 5em; */
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 20px 0;
}
.text-label {
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}
.text-label-bold {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    line-height: 10px;
}
.text-hero-bold {
    color: var(--primary-light);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 60px;
}
.text-header-bold, .text-card-bold {
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 60px;
}
.text-header-bold{
    color: var(--white);
}
.text-card-bold{
    color: var(--hijau-utama);
}
.text-header-regular {
    color: var(--white);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 35px;
}
.text-hero-bold {
    font-size: var(--header-4);
    font-weight: var(--font-weight-semi-bold);
    line-height: 31px;
    color: var(--grey);
}

/* LOGIN */
.login-container{
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}
.logo-side{
    background-color: var(--primary-light);
}
.form-side{
    margin: auto;
}
.form-container{
    box-sizing: border-box;
    width: 80%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    padding: 30px;
    margin-left: 4rem;
}
/* NAVBAR */

.navbar-brand span {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--white);
}
.navbar {
    padding: 20px;
    background-color: var(--primary-light);
}
.navbar-nav .nav-link:hover {
    color: var(--white);
}
.bx {
    font-size: 1.5rem;
}


/* DROPDOWN NAVBAR */
.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown-item{
    background-color: var(--primary);
    box-sizing: border-box;
}
.dropdown-item a:hover{
    background-color: var(--primary-light);
}

/* CONTENT */
.content{
    background-color: var(--back-abu);
    padding: 2.5rem 3rem;
    min-height: 100vh;
}
.isi-content{
    background-color: var(--white);
    padding: 20px 30px;
    min-height: 80vh;
}
/* ALERT ICON */
.alert-icon{
    width: 3rem;
    height: auto;
}
/* TABEL KPI */
.table-kpi th,
.table-kpi td {
    background-color: var(--white);
}

/* FOOTER */
footer {
    background-color: #333333;
    font-size: var(--font-weight-medium);
}
/* USER CSS */
.wrapper {
    padding: 3rem 4rem;
}

/* TABEL */
thead{
    text-align: center;
}
.table-container-user td img {
    max-width: 4rem;
}


@media (max-width: 991.98px) {
    /* MEDIA QUERY NAVBAR */
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000; 
        background-color: var(--primary-light); 
        width: 100%;
    }
    .navbar-nav {
        padding-top: 10px; 
    }
    .navbar-nav .nav-link {
        padding: 0.5rem 1rem; 
    }
    .navbar-nav .nav-link:hover {
        background-color: var(--primary);
        color: var(--grey);
    }

    /* MEDIA CONTENT */
    .content{
        padding: 2rem 1rem;
        min-height: 100vh;
    }
    .isi-content{
        background-color: var(--white);
        padding: 20px 30px;
        min-height: 80vh;
    }
    /* MEDIA TEXT */
    .text-header-bold{
        font-size: var(--header-3);
    }
    .text-header-regular {
        font-size: var(--text-light);
        line-height: 25px;
        margin-bottom: 2rem;
    }
    .text-label-bold{
        font-size: var(--text-light);
    }
    .text-label{
        font-size: var(--text-light);
        line-height: 25px ;
    }
    .btn{
        font-size: var(--text-light);
    }
    /* MEDIA LOGIN CONTAINER*/
    .form-side{
        margin: 0;
    }
    .form-container{
        width: 100%;
        margin-left: 0;
        padding: 1 2.5rem;
    }
    /* LOGIN */
    .login-container{
        max-height: 0;
    }
}

